
span {
    float: right;
}

h1 {
    color: white;
    text-align: left;
    font-family: Georgia;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #1e6091;
    padding: 5px;
}

a:hover {
    color: black;
}

a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    padding: 10px;
}

h2{
    font-family:Georgia;
    font-size:28px;
    letter-spacing:1px;
    text-align:center;

}

#card1 {
    height: 200px;
    width: 350px;
    background-color: #edeef0;
    left: 100px;
    position: relative;
    outline: solid;
    outline-color: black;
    display:inline-block;
}
#card2 {
    height: 200px;
    width: 350px;
    background-color: #edeef0;
    left: 400px;
    top:15px;
    position: relative;
    outline: solid;
    outline-color: black;
   display:inline-block;
}

h3, h4 {
    background-color: #1e6091;
    font-family:Georgia;
    color: white;
    text-align: center;
    font-size: 20px;
}
ul{
    list-style-type: none;
}
li{
    font-family: Georgia;
    font-size: 15px;
    
}